* {
}

body {
  width: 300px;
  height: 100vh;
}

img {
  border-radius: 20px;
}

a {
  /*background-color: #000;*/
}

table {
  width: 100vw;
}

tr {
  background-color: green;
  border: solid 1px #000;
}
